.DS_Store

# dotnet core
bin/
obj/
project.lock.json
NuGetScratch/

api/wwwroot/**
!api/wwwroot/scratch.html
!api/wwwroot/favicon.ico

# node
node_modules/
typings/
npm-debug.log

# client-react
client-react/components/*.js
client-react.test/build
!client-react.test/build/client-react/styles/

# ops
ops/hosts
ops/config.yml
ops/*.retry

# other
*.js.map

# random selected
server/node_modules/
server/.env
client/.env
.env
data/
node_modules/
MISC.txt
docker-compose.temp.yaml

# eslint
client/.eslintcache
./client/.eslintcache
**/**/.eslintcache
client/.eslintcache~resolving rebase

# IDE
.vs/
